body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    color: #03222F;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.brand-logo {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}

.btn-primary {
    background-color: #005F99;
    border: none;
}

.btn-success {
    background-color: #4ACF50;
    border: none;
}

.hero {
    background-color: #005F99;
    color: #fff;
    padding: 4rem 0;
}

.hero .hero-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.hero .hero-subtitle {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

.info-section {
    padding: 3rem 0;
    background-color: #F5F5F5;
}

.info-card {
    border: none;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #03222F;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    margin-top: auto;
}
.navbar-wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100px; /* Adjust height as needed */
    width: 100%; /* Ensures full width */

}
.navbar .nav-link {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.navbar .nav-link i {
    margin-right: 6px;
}

.btn-area-privada, .btn-info {
    display: inline-flex;
    align-items: center;
    background-color: #4ACF50;
    border: none;
    padding: 6px 12px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-area-privada i, .btn-info i {
    margin-right: 8px;
}

.navbar .navbar-brand {
    margin-left: 120px;
}

.navbar .navbar-nav {
    margin-left: 30px;
}