{% load static %}
<head>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
  <!-- Hoja de estilos única -->
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<div class="navbar-wrapper">
  <nav class="navbar navbar-expand-xxl navbar-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/LogoBetterHealthPetit.png' %}" alt="Better Health Logo" style="height: 50px;">
      <span>Better Health</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'centros' %}">Centros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'servicios_salud' %}">Servicios de salud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_appointments' %}">Mis Citas</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-success" href="{% url 'appointment_list' %}">Pedir Cita</a>
        </li>
        <li class="nav-item">
          {% if request.session.patient_id %}
            <a class="btn btn-success" href="{% url 'logout' %}">Cerrar sesión</a>
          {% else %}
            <a class="btn btn-success" href="{% url 'login' %}">Acceder/Registrar-se</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- jQuery, Popper y Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
