<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <script>
        function toggleInsuranceNumber() {
            var hasInsuranceCheckbox = document.getElementById('id_has_insurance');
            var insuranceNumberField = document.getElementById('id_insurance_number');
            if (hasInsuranceCheckbox.checked) {
                insuranceNumberField.setAttribute('required', 'required');
            } else {
                insuranceNumberField.removeAttribute('required');
            }
        }

        window.onload = function () {
            var hasInsuranceCheckbox = document.getElementById('id_has_insurance');
            hasInsuranceCheckbox.addEventListener('change', toggleInsuranceNumber);
            toggleInsuranceNumber();
        };
    </script>
</head>
<body>
<section class="h-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-12">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="{% static "img/logo.png" %}"
                                         style="width: 30%;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Tu bienestar, nuestra prioridad.</h4>
                                </div>
                                <form method="post">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        <div class="alert alert-danger">
                                            Porfavor corrige los errores en el formulario.
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-6 mb-3 form-floating {% if form.first_name.errors %}has-danger{% endif %}">
                                            <input type="text" name="first_name" required
                                                   class="form-control {% if form.first_name.errors %}is-invalid{% endif %}"
                                                   id="firstNameInput" placeholder="First Name"
                                                   value="{{ form.first_name.value|default:'' }}">
                                            <label style="margin-left:2%" for="firstNameInput">Nombre</label>
                                            {% for error in form.first_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6 mb-3 form-floating {% if form.last_name.errors %}has-danger{% endif %}">
                                            <input type="text" name="last_name" required
                                                   class="form-control {% if form.last_name.errors %}is-invalid{% endif %}"
                                                   id="lastNameInput" placeholder="Last Name"
                                                   value="{{ form.last_name.value|default:'' }}">
                                            <label style="margin-left:2%" for="lastNameInput">Apellido</label>
                                            {% for error in form.last_name.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3 form-floating {% if form.dni.errors %}has-danger{% endif %}">
                                            <input type="text" name="dni" required
                                                   class="form-control {% if form.dni.errors %}is-invalid{% endif %}"
                                                   id="dniInput" placeholder="DNI"
                                                   value="{{ form.dni.value|default:'' }}">
                                            <label style="margin-left:2%" for="dniInput">DNI/NIE</label>
                                            {% for error in form.dni.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6 mb-3 form-floating {% if form.email.errors %}has-danger{% endif %}">
                                            <input type="email" name="email" required
                                                   class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                                                   id="emailInput" placeholder="Email"
                                                   value="{{ form.email.value|default:'' }}">
                                            <label style="margin-left:2%" for="emailInput">Correo electrónico</label>
                                            {% for error in form.email.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3 form-floating {% if form.phone.errors %}has-danger{% endif %}">
                                            <input type="text" name="phone" required
                                                   class="form-control {% if form.phone.errors %}is-invalid{% endif %}"
                                                   id="phoneInput" placeholder="Phone"
                                                   value="{{ form.phone.value|default:'' }}">
                                            <label style="margin-left:2%" for="phoneInput">Número de teléfono</label>
                                            {% for error in form.phone.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-3 form-floating {% if form.password.errors %}has-danger{% endif %}">
                                            <input type="password" name="password" required
                                                   class="form-control {% if form.password.errors %}is-invalid{% endif %}"
                                                   id="passwordInput" placeholder="Password">
                                            <label style="margin-left:2%" for="passwordInput">Contraseña</label>
                                            {% for error in form.password.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>
                                        <div class="col-md-6 mb-3 form-floating {% if form.confirm_password.errors %}has-danger{% endif %}">
                                            <input type="password" name="confirm_password" required
                                                   class="form-control {% if form.confirm_password.errors %}is-invalid{% endif %}"
                                                   id="confirmPasswordInput" placeholder="Confirm Password">
                                            <label style="margin-left:2%" for="confirmPasswordInput">Confirmar contraseña</label>
                                            {% for error in form.confirm_password.errors %}
                                                <div class="invalid-feedback">{{ error }}</div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                    <div class=" col-md-6 mb-3 form-check">
                                        <input type="checkbox" name="has_insurance" class="form-check-input"
                                               id="id_has_insurance"
                                               {% if form.has_insurance.value %}checked{% endif %}>
                                        <label class="form-check-label" for="id_has_insurance">Tienes mutua?</label>
                                    </div>
                                    <div class="col-md-6 mb-3 form-floating {% if form.insurance_number.errors %}has-danger{% endif %}">
                                        <input type="text" name="insurance_number"
                                               class="form-control {% if form.insurance_number.errors %}is-invalid{% endif %}"
                                               id="id_insurance_number" placeholder="Insurance Number"
                                               value="{{ form.insurance_number.value|default:'' }}">
                                        <label for="id_insurance_number">Número de mutua</label>
                                        {% for error in form.insurance_number.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="text-center pt-1 mb-7 pb-1">
                                        <button data-mdb-button-init data-mdb-ripple-init
                                                class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
                                                type="submit">Registrarse
                                        </button>
                                    </div>
                                </form>
                                <div class="d-flex align-items-center justify-content-center pb-4 flex-column">
                                        <p class="mb-0 me-2">¿Ya tienes cuenta?</p>
                                        <a href="{% url 'login' %}" class="btn btn-outline-primary mt-2"
                                           data-mdb-button-init data-mdb-ripple-init>
                                            Acceder
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<style>

    body {
        font-family: 'Inter', 'Open Sans', 'Roboto', sans-serif;
        color: #333333;
    }

    h1 {
        font-size: 36px;
        font-weight: bold;
        color: #333333;
    }

    h2 {
        font-size: 28px;
        font-weight: 600; /* semi-bold */
        color: #333333;
    }

    h3 {
        font-size: 22px;
        font-weight: 600; /* semi-bold */
        color: #333333;
    }

    body, p {
        font-size: 16px;
        font-weight: 400; /* regular */
        color: #333333;
    }

    small {
        font-size: 14px;
        font-weight: 400; /* regular */
        color: #333333;
    }

</style>
</html>